@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root>
	<div class="title">To get "Santa Hat 2024" for free, complete any level before January 5th!</div>
</root>

@code
{
	private bool _show = true;

	protected override int BuildHash() => System.HashCode.Combine(_show);
}